.navbar{
   
    padding: 1rem;
}
.nav-container{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: start;
}
.navlink{
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: lightgray;
}